* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Board {
  width: 50vw;
  margin: auto;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
}

.image1 {
  background-image: url("/public/images/amy-baugess-MNju0A6EeE0-unsplash.jpg");
  background-size: cover;
}
.image2 {
  background-image: url("/public/images/daria-shatova-46TvM-BVrRI-unsplash.jpg");
  background-size: cover;
}
.image3 {
  background-image: url("/public/images/kate-stone-matheson-uy5t-CJuIK4-unsplash.jpg");
  background-size: cover;
}
.image4 {
  background-image: url("/public/images/kristina-yadykina-21NRDbMJF94-unsplash.jpg");
  background-size: cover;
}
.image5 {
  background-image: url("/public/images/lloyd-henneman-mBRfYA0dYYE-unsplash.jpg");
  background-size: cover;
}
.image6 {
  background-image: url("/public/images/roberto-huczek-oA6zqMdnhjE-unsplash.jpg");
  background-size: cover;
}
.image1,
.image2,
.image3,
.image4,
.image5,
.image6 {
  transition: transform 0.5s;
  width: 100%;
  height: 20vh;
  cursor: pointer;
}
.backColor {
  transform: rotateY(180deg);
  background-image: url("/public/images/cat-wallpaper-cats-41242864-800-600.jpg.crdownload");
  background-size: cover;
}
